.App {
  /* text-align: center; */
}

.form__collapse.errored hr {
  border-color: tomato;
}

.form__collapse.errored .form__collapse__label{
  color: tomato;
}

.cursor-pointer {
  cursor: pointer;
}

.input__boolean__on {
  color: MediumSeaGreen;
}
.input__boolean__off {
  color: tomato;
}
